<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title tabindex="0">Movimento cães de rua de Itapecerica da Serra</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon2.ico')}}" />

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    <!--owl css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl/owl.theme.default.min.css')}}">

    <!-- Jivochat 
    <script src="//code-sa1.jivosite.com/widget/xWIBblwL6G" async></script>-->

    <!-- Icons8
     <a href="https://icons8.com/icon/wjW2iXHKZY9M/veterinary-examination">Veterinary Examination icon by Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/qBr3u2Cao5bM/tigela-de-cachorro">Tigela de cachorro</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/42zJuGcHU1TX/international-day">International Day</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/22bl3PmJwS8u/service-dog">Service Dog</a> icon by <a-- target="_blank" href="https://icons8.com">Icons8</a-->
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Movimento cães de rua de Itapecerica da Serra</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">Quem somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#services">Doações</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Comedouros</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold" tabindex="0">Movimento cães de rua de Itapecerica da Serra</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5" tabindex="0">Somos um movimento que luta por políticas públicas para os animais de rua.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Saiba Mais</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0" tabindex="0">Nossa História</h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4" tabindex="0">O Movimento cães de rua de Itapecerica da Serra nasceu na cidade de Itapecerica da Serra e tem como ojetivo ajudar a alimentar cães e gatos em situação de abandono. A ideia consiste em instalar "comedouros" em áreas públicas da cidade
                        com maior concentração de animais de rua. O Movimento começou a funcionar há mais de 10 anos e já possui 07 pontos de tratamento instalados nos bairros de Itapecerica da Serra, ajudando os cães da região.
                    </p>
                    <a class="btn btn-light btn-xl" href="#services">Saiba mais</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0" tabindex="0">Nosso projeto compreende:</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2">
                            <img tabindex="0 " src="https://img.icons8.com/officel/80/000000/dog-bowl.png" aria-label="ícone de pote de ração animal" /></i>
                        </div>
                        <h3 class=" h4 mb-2 " tabindex="0 ">Ração
                        </h3>
                        <p class="text-muted mb-0 " tabindex="0 ">Para manter os comedouros cheinhos de ração, contamos com a ajuda de doações voluntárias da população.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <div class="mt-5 ">
                        <div class="mb-2 ">
                            <img tabindex="0 " src="https://img.icons8.com/color/80/000000/veterinary-examination.png " aria-label="ícone de médico veterinário examinando cão" /></i>
                        </div>
                        <h3 class="h4 mb-2 " tabindex="0 ">Remédios</h3>
                        <p class="text-muted mb-0 " tabindex="0 ">Aceitamos doações de remédios dentro da validade para que possamos encaminhar para pessoas com pets em situação de doença.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <div class="mt-5 ">
                        <div class="mb-2 ">
                            <img tabindex="0 " src="https://img.icons8.com/emoji/80/000000/service-dog.png " aria-label="ícone de cão vestido com capa vermelha"></i>
                        </div>
                        <h3 class=" h4 mb-2 " tabindex="0 ">Roupas</h3>
                        <p class="text-muted mb-0 " tabindex="0 ">Aceitamos doações de roupas, mantas e acessórios para pets.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <div class="mt-5 ">
                        <div class="mb-2 ">
                            <img tabindex="0 " src="https://img.icons8.com/external-smashingstocks-circular-smashing-stocks/80/000000/external-international-day-international-cat-day-smashingstocks-circular-smashing-stocks.png " aria-label="ícone representativo da Conscientização da causa animal"></i>
                        </div>
                        <h3 class=" h4 mb-2 " tabindex="0 ">Conscientização</h3>
                        <p class="text-muted mb-0 " tabindex="0 ">Queremos tornar o mundo melhor para todos. O objetivo da ação é conscientizar a população sobre o abandono e maus-tratos a animais.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio-->
    <section class="page-section" id="portfolio">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 text-center  ">
                    <h2 class="text-center mt-0 " tabindex="0 ">Comedouros</h2>

                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-sm-6 portfolio-item ">
                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/1.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">

                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>Aplicativo</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Rua Boa Vista, 52 - Centro - Itapecerica da Serra-SP, CEP 06850-060</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item ">

                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/2.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">
                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>xxxx</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Av. Máximino Augusto de Carvalho, 782 - Pq Paraiso - Itapecerica da Serra-SP, CEP 06852-000</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item ">

                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/3.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">

                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>xxxx</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Avenida Roberto Daher, 53 - Centro - Itapecerica da Serra-SP, CEP 06850-040</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item ">

                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/4.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">

                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>xxxx</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Praça João Pessoa, 2 - Centro - Itapecerica da Serra-SP, CEP 06850-000</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item ">

                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/5.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">

                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>xxx</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Avenida Roberto Daher, 669 - Centro - Itapecerica da Serra-SP, CEP 06850-040</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item ">

                    <div class="portfolio-hover ">
                        <div class="portfolio-hover-content ">
                            <!--i class="fa fa-plus fa-3x "></!--i>-->
                        </div>
                    </div>
                    <img class="img-fluid " tabindex="0 " src="{{ url_for( 'static', filename='assets/img/portfolio/6.jpg' )}} " aria-label="Imagem de comedouro para cães feito de tubo de PVC ">

                    </a>
                    <div class="portfolio-caption ">
                        <!--h4>xxx</!--h4>-->
                        <p class="bg-light " tabindex="0 ">Rua Adolfo Pinheiro, 74 - Centro - Itapecerica da Serra-SP, CEP 06850-770</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5 ">
            <div class="row gx-4 gx-lg-5 justify-content-center ">
                <div class="col-lg-8 col-xl-6 text-center ">
                    <h2 class="mt-0 " tabindex="0 ">Contato</h2>
                    <hr class="divider " />
                    <p class="text-muted mb-5 " tabindex="0 " tho>Entre em contato conosco através do formulário.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5 ">
                <div class="col-lg-6 ">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <!-- <form id="contactForm " data-sb-form-api-token="API_TOKEN "> -->


                    <form id="contactForm" action="{{url_for('send_mail')}}" method="POST">
                        <!-- Name input-->
                        <div class="form-floating mb-3 ">
                            <input class="form-control" name="name" id="name" type="text" placeholder="Digite seu nome" data-sb-validations="required" />
                            <label for="name">Nome Completo</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Digite seu nome</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email" placeholder="Digite um email válido" data-sb-validations="required,email" />
                            <label for="email">Email </label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Digite um email válido.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email não é válido.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="phone" id="phone" type="tel" placeholder="Digite o número de telefone" data-sb-validations="required" />
                            <label for="phone">Telefone</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">Digite o número de telefone.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control " name="message" id="message" type="text" placeholder="Digite uma mensagem" style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Mensagem</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Digite uma mensagem.</div>
                        </div>
                        {% if alerta == 'success' %}
                        <!-- Submit success message-->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">sua mensagem foi enviada com sucesso!</div>


                            </div>
                        </div>
                        <!-- Submit error message-->
                        {% elif alerta == 'error' %}
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        {% else %} {% endif %}

                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Enviar</button></div>
                    </form>
                </div>
            </div>

        </div>
    </section>



    <!-- Carrousel -->
    <div class="carrosel-dog ">
        <div class="owl-carousel owl-theme ">
            <div class="item ">
                <img class="box-dog " src="{{ url_for( 'static', filename='assets/img/pata.png' )}} " aria-label="Barra de rolagem com imagem de pegadas de cães">
            </div>

            <div class="item ">
                <img class="box-dog " src="{{ url_for( 'static', filename='assets/img/pata1.png' )}} " aria-label="Barra de rolagem com imagem de pegadas de cães">
            </div>

            <div class="item ">
                <img class="box-dog " src="{{ url_for( 'static', filename='assets/img/pata2.png' )}} " aria-label="Barra de rolagem com imagem de pegadas de cães">
            </div>

            <div class="item ">
                <img class="box-dog " src="{{ url_for( 'static', filename='assets/img/pata3.png' )}} " aria-label="Barra de rolagem com imagem de pegadas de cães">
            </div>

            <div class="item ">
                <img class="box-dog " src="{{ url_for( 'static', filename='assets/img/pata4.png' )}} " aria-label="Barra de rolagem com imagem de pegadas de cães">
            </div>


        </div>
    </div>
    </div>
    </section>

    <!--Footer-->
    <footer class="page-footer font-small bg-dark text-white ">

        <!-- Social buttons -->
        <div class="primary-color ">
            <div class="container ">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center ">



                    <!--First column-->
                    <div class="container px-4 px-lg-5 text-center ">
                        <hr class="divider " />

                        <!--<h6 class="text-center mt-0 text-uppercase font-weight-bold "><strong>Contato</strong></h6>-->

                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 0x; ">
                        <!--<i class="fa fa-home mr-3 "></i>Rua xxxxx, xx – Itapecerica da Serra/SP</p> -->
                        <p>
                            <i class="fa fa-envelope mr-3 " tabindex="0 " aria label="envie uma mensagem para disturbiasoad@hotmail.com.br"></i> disturbiasoad@hotmail.com.br</p>
                        <p>
                            <i class="bi bi-whatsapp mr-3 " tabindex="0 " aria label="entre em contato conosco pelo telefone 11 9 8701–3577 "></i> +55 11 9 8701–3577</p>

                        <p>
                            <i class="bi bi-whatsapp mr-3" tabindex="0" aria label=" entre em contato conosco pelo telefone 11 9 8794-5505 "></i> +55 11 9 8794-5505</p>


                        <li class="list-inline-item ">
                            <a href="https://instagram.com/itap.caes?utm_medium" aria-label="ícone Instagram, link de acesso a página Itap.caes"></a>
                            <i class="bi bi-instagram "></i>
                            </a>

                            <li class="list-inline-item ">
                                <a href="https://web.facebook.com/pages/category/Local-business/Caes-de-rua-de-Itapecerica-da-Serra-SP-777922895900095/?_rdc=1&_rdr " aria-label="ícone Facebook, link de acesso a página cães de rua de Itapecerica da Serra"></a>
                                <i class="bi bi-facebook "></i>
                                </a>

                    </div>


                </div>
            </div>
            <!--/Footer Links-->

            <!-- Footer-->
            <footer class="bg-dark text-white py-5 ">
                <div class="container px-4 px-lg-5 ">
                    <div class="small text-center text-white " aria-label="Todos os direitos reservados PI Univesp">Copyright &copy; 2022 - PI-II_Univesp</div>
                </div>
            </footer>






            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js "></script>
            <!-- SimpleLightbox plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js "></script>
            <!-- Core theme JS-->
            <script src=" {{ url_for( 'static', filename='js/scripts.js' )}} "></script>

            <script src=" {{ url_for( 'static', filename='js/owl/jquery.min.js' )}} "></script>
            <script src=" {{ url_for( 'static', filename='js/owl/owl.carousel.min.js' )}} "></script>
            <script src=" {{ url_for( 'static', filename='js/owl/setup.js' )}} "></script>
            <!-- <script src=" {{ url_for( 'static', filename='js/contact_me.js' )}} "></script> -->

            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <!-- * *                               SB Forms JS                               * *-->
            <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js "></script> -->

            <!--Font Awesome-->
            <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">
            <!-- <script src="js/contact_me.js "></script> -->

            <!-- 100% privacy friendly analytics -->
            <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
            <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>

</html>